

header {
    text-align: center;
}

.topHalf{
    text-align: center;
    align-items: center;
    max-width: auto;
    max-height: 900px;
    overflow: hidden;
}
 

.prepstuff {
  width: 100%;
  padding: 10px;
  margin: 10px;
}
#cinn{

height: 30%;
max-width: 90%;
align-items: center;
}

.container {
    padding: auto;
    margin: auto;
   width: 25%;


}

.instructions {

    text-align: center;
    width: 50%;
    padding: 10px;
    margin: 40px;
    margin-left: 25%;

}