
body{
    background-image: url(backgroundCoffee.jpg);
}
#centerBody{
    background-color: rgb(255, 250, 238);
    width: 60%;
    margin-left: 20%;
    text-align: center;
    height: 800px;
    padding: 0px;

}
#welcomeMessage{
    font-size: 35px;
    padding: 45px;
}

h2{
    font-size: 28px;
}
a{
    font-size: 22px;
}
li {
    border-width: 1px;
    justify-content: center;



   
}